body {
    background-image: url('alexv1.jpg');
    background-size: cover;          /* Gambar menyesuaikan lebar & tinggi layar */
    background-repeat: no-repeat;    /* Supaya gambar tidak terulang */
    background-position: center;     /* Posisi gambar di tengah */
    background-attachment: fixed;    /* Gambar mengunci layar walau di-scroll */
    text-align: center;              /* Sekaligus membuat teks berada di tengah */
}
}


h1 {
    font-size: 28px;
    font-weight: arial;
    margin-top: 20px;
    margin-bottom: 15px;
}


hr {
    width: 60%;          
    border: none;
    border-top: 1px solid #777777; 
    margin: 0 auto 20px auto;
}


h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}



h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: px;
    margin-bottom: 20px;
    
}
.container {
    text-align: center;
}
.btn {
    margin: 0 20px; /* Memberikan jarak kiri dan kanan sebesar 15px */
    padding: 5px 20px; /* Opsional: membuat tombolnya tampak lebih rapi seperti kotak */
}
.btn {
    display: inline-block;          /* Memastikan tombol terbentuk rapi */
    background-color: #87CEEB;      /* Warna kotak (contoh: putih) */
    color: #333333;                 /* Warna teks di dalam kotak */
    padding: 10px 10px;             /* Jarak teks ke garis kotak (atas/bawah & kanan/kiri) */
    margin: 0 10px;                 /* Jarak antar kotak */
    text-decoration: none;          /* Menghilangkan garis bawah pada teks */
    border-radius: 5px;             /* Membuat sudut kotak agak melengkung */
    font-weight: bold;              /* Mempertebal teks */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Efek bayangan halus (opsional) */
}
.bio-table {
    margin: 20px auto;     /* Posisi tabel otomatis di tengah halaman */
    text-align: left;      /* Menjaga seluruh teks di dalam tabel rata kiri */
    border-collapse: collapse;
}

.bio-table td {
    padding: 8px 12px;     /* Memberi jarak/ruang antar kolom agar tidak menempel */
    font-size: 18px;       /* Ukuran teks */
}